// Definindo variáveis de cores
$cor-fundo: #000;
$cor-texto: #fff;
$cor-bege: #85764D;
$cor-botao: #68582b;
$cor-botao-hover: #85764D;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: $cor-fundo;
    color: $cor-texto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 20px 0;
    h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: $cor-bege;
    }

    h2 {
        font-size: 1.5rem;
        margin: 20px 0 10px;
        color: $cor-bege;
    }

    label {
        display: block;
        margin: 10px 0 5px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="number"],
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid $cor-bege;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.2);
        color: $cor-texto;
        font-size: 1rem;

        &::placeholder {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    textarea {
        resize: none;
    }

    p {
        font-size: 0.9rem;
        margin: 10px 0;
        color: rgba(255, 255, 255, 0.8);
    }

    .btn {
        margin-top: 20px;

        button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: $cor-botao;
            color: $cor-texto;
            font-size: 1.2rem;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: $cor-botao-hover;
            }
        }
    }
}